ReceptionWebApi/obj
.vs/
ReceptionWebApi/bin/Debug/net6.0/ReceptionWebApi.dll
ReceptionWebApi/bin/Debug/net6.0/ReceptionWebApi.exe
ReceptionWebApi/bin/Debug/net6.0/ReceptionWebApi.pdb
ReceptionWebApi/obj/Debug/net6.0/apphost.exe
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.assets.cache
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.csproj.AssemblyReference.cache
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.csproj.CoreCompileInputs.cache
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.csproj.FileListAbsolute.txt
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.dll
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.GeneratedMSBuildEditorConfig.editorconfig
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.genruntimeconfig.cache
ReceptionWebApi/obj/Debug/net6.0/ReceptionWebApi.pdb
ReceptionWebApi/obj/Debug/net6.0/ref/ReceptionWebApi.dll
ReceptionWebApi/obj/Debug/net6.0/refint/ReceptionWebApi.dll
ReceptionWebApi/obj/project.assets.json
ReceptionWebApi/obj/project.nuget.cache
ReceptionWebApi/obj/ReceptionWebApi.csproj.nuget.dgspec.json
ReceptionWebApi/obj/ReceptionWebApi.csproj.nuget.g.props
